html,
body
	-webkit-font-smoothing antialiased
	text-rendering optimizeLegibility !important


html
	font-size 10px


a
	transition .2s all ease

	&:hover
		text-decoration none


@font-face
	font-family 'Franklin'
	src url('/fonts/franklingothicmedicondc-webfont.eot')
	src url('/fonts/franklingothicmedicondc-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/franklingothicmedicondc-webfont.woff2') format('woff2'),
		url('/fonts/franklingothicmedicondc-webfont.woff') format('woff'),
		url('/fonts/franklingothicmedicondc-webfont.ttf') format('truetype'),
		url('/fonts/franklingothicmedicondc-webfont.svg#franklingothicmedicondcRg') format('svg')
	font-weight 500
	font-style normal


@font-face
	font-family 'Franklin'
	src url('/fonts/franklingothicbookcmpc-webfont.eot')
	src url('/fonts/franklingothicbookcmpc-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/franklingothicbookcmpc-webfont.woff2') format('woff2'),
		url('/fonts/franklingothicbookcmpc-webfont.woff') format('woff'),
		url('/fonts/franklingothicbookcmpc-webfont.ttf') format('truetype'),
		url('/fonts/franklingothicbookcmpc-webfont.svg#franklingothicbookcmpcregular') format('svg')
	font-weight normal
	font-style normal


@font-face
	font-family 'Oranienbaum'
	src url('/fonts/oranienbaum-webfont.eot')
	src url('/fonts/oranienbaum-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/oranienbaum-webfont.woff2') format('woff2'),
		url('/fonts/oranienbaum-webfont.woff') format('woff'),
		url('/fonts/oranienbaum-webfont.ttf') format('truetype'),
		url('/fonts/oranienbaum-webfont.svg#oranienbaumregular') format('svg')
	font-weight normal
	font-style normal


@media (min-width $screen-md-max)
	.row-clear .col-lg-1:nth-child(12n+1){clear:left;}
	.row-clear .col-lg-2:nth-child(6n+1){clear:left;}
	.row-clear .col-lg-3:nth-child(4n+1){clear:left;}
	.row-clear .col-lg-4:nth-child(3n+1){clear:left;}
	.row-clear .col-lg-6:nth-child(odd){clear:left;}

@media (min-width $screen-sm-max) and (max-width $screen-md-max)
	.row-clear .col-md-1:nth-child(12n+1){clear:left;}
	.row-clear .col-md-2:nth-child(6n+1){clear:left;}
	.row-clear .col-md-3:nth-child(4n+1){clear:left;}
	.row-clear .col-md-4:nth-child(3n+1){clear:left;}
	.row-clear .col-md-6:nth-child(odd){clear:left;}

@media (min-width $screen-xs-max) and (max-width $screen-sm-max)
	.row-clear .col-sm-1:nth-child(12n+1){clear:left;}
	.row-clear .col-sm-2:nth-child(6n+1){clear:left;}
	.row-clear .col-sm-3:nth-child(4n+1){clear:left;}
	.row-clear .col-sm-4:nth-child(3n+1){clear:left;}
	.row-clear .col-sm-6:nth-child(odd){clear:left;}

@media (max-width $screen-xs-max)
	.row-clear .col-xs-1:nth-child(12n+1){clear:left;}
	.row-clear .col-xs-2:nth-child(6n+1){clear:left;}
	.row-clear .col-xs-3:nth-child(4n+1){clear:left;}
	.row-clear .col-xs-4:nth-child(3n+1){clear:left;}
	.row-clear .col-xs-6:nth-child(odd){clear:left;}
