.card
	margin-bottom 30px
	padding 20px
	background-color #fff
	box-shadow 0 1px 0 0 rgba(0, 0, 0, .1)

	&-show

		.card__state
			&:before,
			&:after
				transform translate(-50%, -50%) rotate(900deg)


	&-menu
		background-position right center
		background-repeat no-repeat

		&-basic
			background-image url('../images/card/card-menu-basic.png')

		&-bar
			background-image url('../images/card/card-menu-bar.png')

		&-dessert
			background-image url('../images/card/card-menu-dessert.png')

		&-hookah
			background-image url('../images/card/card-menu-hookah.png')

		&-business
			background-image url('../images/card/card-menu-business.png')

		&-north
			background-position right bottom
			background-image url('../images/card/card-menu-north.png')

		&-children
			background-image url('../images/card/card-menu-children.png')


	&-offer
		padding 0

		.card__photo
			width 100%
			height auto

		.card__foot
			padding 20px

		.card__state
			float right

		.card__title
			max-width 50%

			@media (max-width $screen-xs-max)
				max-width 80%


	&__title
		margin-bottom 2px
		font-size 1.9rem
		font-weight 500


	&__description
		margin-bottom 20px
		font-size 1.7rem
		color #777777


	&__content
		display none
		margin-bottom 30px


	&__state
		display block
		position relative
		width 40px
		height 40px
		border-radius 50%
		border 1px solid $link-color


		&:before,
		&:after
			content ''
			display block
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 16px
			height 2px
			background-color $link-color
			transition 1s all ease

		&:after
			transform-origin center
			transform translate(-50%, -50%) rotate(90deg)


		&:hover
			background-color alpha($link-color, .2)


	.content
		p
			font-size 1.7rem
