.filter
	margin-bottom 50px


	&__ul
		margin 0
		padding 0
		list-style none
		text-align center


	&__li
		display inline-block
		margin-left 12px
		margin-right 12px
		font-size 1.7rem

		&-active
			.filter__a
				color #9c9c9c


	&__a
		color #000

		&:hover,
		&:focus
			text-decoration none
			color #9c9c9c
