.footer
	background-color #000
	color rgba(255, 255, 255, .4)


	&__flex
		display flex
		flex-direction row
		justify-content space-between


	&__navigation

		.navigation__ul
			height auto
			border-bottom 0

		.navigation__li
			margin-left 15px
			margin-right 15px

			&:after
				display none

		.navigation__a
			text-transform initial
			letter-spacing 0
			color rgba(255, 255, 255, .4)


	&__right
		font-size 0
