.form


	&-white
		.form__input
			border-bottom 1px solid rgba(255, 255, 255, .25)
			color #fff

			&:focus
				border-bottom 1px solid rgba(255, 255, 255, .5)


	&__input
		width 100%
		margin-bottom 35px
		padding 5px
		border 0
		border-bottom 1px solid rgba(0, 0, 0, .15)
		background-color transparent
		color #000

		&:focus
			border-bottom 1px solid rgba(0, 0, 0, .5)
			outline none

		&-date
			background-image url('../images/form/form__input-date.png')
			background-position right center
			background-repeat no-repeat


	&__select
		width 100%
		padding 5px
		border 0
		border-radius 0
		border-bottom 1px solid rgba(0, 0, 0, .15)
		background-color transparent
		appearance none

		&:focus
			border-bottom 1px solid rgba(0, 0, 0, .5)
			outline none

		&_wrap
			margin-bottom 35px
			background-image url('../images/form/form__select_wrap.png')
			background-position right center
			background-repeat no-repeat


	&__submit
		padding 12px 35px
		border 1px solid $link-color
		background-color transparent
		color $link-color
		transition .2s all ease

		&:hover,
		&:focus
			background-color $link-color
			color #000

		&-wide
			padding-left 60px
			padding-right 60px

		&-block
			display block
			width 100%
