.line
	position relative


	&__arrows
		position absolute
		top -80px
		right 15px

		@media (max-width $screen-xs-max)
			position static
			margin-bottom 30px
			text-align center

	&__arrow
		display inline-block
		width 35px
		height 35px
		border-radius 50%
		border 1px solid rgba(0, 0, 0, .3) !important
		background-position center
		background-repeat no-repeat

		&:hover,
		&:focus
			background-color rgba(0, 0, 0, .05)

		&-left
			background-image url('../images/line/line__arrow-left.svg')
			background-position 12px center

		&-right
			background-image url('../images/line/line__arrow-right.svg')
			background-position 14px center

		&.slick-disabled
			opacity .3
