.pace
	position fixed
	top 0
	z-index 1200
	min-height 480px
	width 100%
	height 100%
	background #fff
	background-image url('../images/pace/pace__logo.png')
	background-repeat no-repeat
	background-position center center
	background-size 10%
	-webkit-pointer-events none
	pointer-events none
	-webkit-user-select none
	-moz-user-select none
	user-select none
	transition all 1s ease

	@media (max-width $screen-sm-max)
		top 0
		right 0
		bottom 0
		left 0
		background-size 50%

	&-inactive
		transform translateY(-100%)

	&-progress
		position fixed
		z-index 2000
		top 0
		right 100%
		width 100%
		height 3px
		background-color #000
