.section

	&-undernav
		height 580px
		margin-top -50px
		background-color #aaa

		@media (max-width $screen-xs-max)
			margin-top 0

	&-institutions
		padding-top 75px

	&-events
		padding-top 50px
		padding-bottom 80px

	&-feedback
		padding-top 80px
		padding-bottom 80px

	&-bottom
		padding-top 30px
		padding-bottom 30px
		border-top 1px solid rgba(255, 255, 255, .2)

	&-consult
		border-top 1px solid $link-color
		padding-top 50px
		padding-bottom 60px


	&__title
		position relative
		padding-bottom 25px
		text-align center
		text-transform uppercase
		line-height (44/40)
		font-family 'Oranienbaum'
		font-size 4rem

		&:before,
		&:after
			content ''
			display block
			position absolute
			left 50%
			bottom 0
			transform translateX(-50%)
			width 60px
			height 1px
			background-color #b8ae80

		&:after
			bottom 4px

		&-mb-120
			margin-bottom 120px

		&-mb-60
			margin-bottom 60px

		&-mt-80
			margin-top 80px

		&-mt-60
			margin-top 60px
