.social
	display inline-block
	width 30px
	height 30px
	margin-left 7.5px
	margin-right 7.5px
	background-size 100%
	opacity .4
	transition .2s all ease

	&:hover
		border-bottom 0
		opacity 1

	&-facebook
		background-image url('../images/social/social-facebook.png')

	&-vkontakte
		background-image url('../images/social/social-vkontakte.png')

	&-instagram
		background-image url('../images/social/social-instagram.png')
