.cabinet__icon-appointment-dims
	width 50px
	height 50px

.cabinet__icon-eye-dims
	width 16px
	height 9px

.cabinet__icon-history-dims
	width 50px
	height 50px

.cabinet__icon-notification-dims
	width 45px
	height 50px

.cabinet__icon-private-dims
	width 50px
	height 50px

.services__icon-business-dims
	width 256px
	height 235px

.services__icon-education-dims
	width 256px
	height 239px

.services__icon-family-dims
	width 201px
	height 256px

.services__icon-government-dims
	width 75px
	height 256px

.services__icon-health-dims
	width 256px
	height 217px

.services__icon-info-dims
	width 330px
	height 330px

.services__icon-job-dims
	width 256px
	height 258px

.services__icon-license-dims
	width 256px
	height 211px

.services__icon-life-dims
	width 250px
	height 250px

.services__icon-media-dims
	width 256px
	height 243px

.services__icon-passport-dims
	width 211px
	height 256px

.services__icon-pension-dims
	width 256px
	height 256px

.services__icon-popular-dims
	width 256px
	height 256px

.services__icon-realty-dims
	width 256px
	height 256px

.services__icon-security-dims
	width 197px
	height 256px

.services__icon-sport-dims
	width 256px
	height 257px

.services__icon-taxes-1-dims
	width 256px
	height 255px

.services__icon-taxes-2-dims
	width 256px
	height 256px

.services__icon-trade-dims
	width 256px
	height 207px

.services__icon-transport-dims
	width 256px
	height 256px

